.Book-div-main {
    text-align: -webkit-center;
    width: 100%;
}

.StaffName {
    margin-top: 8px;
    font-size: 21px;
    text-align: center;
}


.div-content {
    margin-top: 32px;
    width: device-width;
    text-align: center
}

.loadingStyle {
    font-size: 24px;
    position: absolute;
    padding-top: 20%;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 999;
}

.box-div-main {
    text-align: -webkit-center;
    width: 100%
    
}

.bookButton {
    background-color: #178df5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 300px;
    font-size: 14px;
    z-index: 0;
    font-size: 20px;
}

.user1Booking {
    position: absolute;
    top: 173px;
    right: 30px;
}
.user2Booking {
    position: absolute;
    top: 209px;
    right: 30px;
}
.greenLight {
    width: 28px;
    position: absolute;
    top: 9px;
    right: 282px;
    z-index: 9;
}

.pStatus {
    font-size: 14px;
    position: absolute;
    top: -7px;
    right: 10%;
}