.hide {
    display: none;
}

.AllowDivMain {
    /* background-color: rgb(211, 211, 211); */
    text-align: center;
    width: 100%;
}
.tableHeader {
    border: 1px solid;
    background-color: rgb(225, 227, 228);
    padding-left: 4px;
    
}

.table-header {
    width: 860px;
    border:1px solid;
    text-align: center;
    border-collapse: collapse;
}

.centerStyle {
    width: 100px;
    text-align: center;
    border: 1px solid black;
}
.leftStyle {
    width: 100px;
    text-align: left;
    padding-left: 24px;
    border: 1px solid black;
}

.divTable {
    text-align: -webkit-center;
}

.superMainDiv {
    text-align: -webkit-center;
    background-color: white;
    width: 210mm;
    height: auto;
    min-height: 297mm;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10pt;
    margin-top: 1pt;
    /* linebreaks: 51pt; */
    line-height: 16pt;
    padding-bottom: 60px
}

.chooseMonth {
    position: initial;
    margin-top: 0px
}
.printStyle {
    position: relative;       
    width: 30px;
    right: -32%;
    top: 180px;
}
.pdfStyle {
    position: relative;     
    width: 50px;
    right: -276px;
    top: 70px
}
.searchStyle {
    position: absolute;
    top: 166px;
    right: 45%;
    left: 45%
}

.AllowRowCount {
    text-Align: left;
    padding: 18px;
    margin-Left: -23px;
    width: 40%;
    float:left;
}
.AllowSumCount {
    text-Align: right;
    padding: 18px;
    margin-Right: -27px;
    width: 40%;
    float: right;
}