.logo {
    margin-top: 4px;
    width: 140px;
    position: relative;
}

.menuList {
    width: 30px;
    position: absolute;
    top: 23px;
    left: 24px;
}

.logoDiv {
    /* width: 100%;
    background-color: greenyellow; */
    padding-top: 8px;
    padding-bottom: 8px;
    border: 1px solid #e0dddd;    
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
}

.hide {
    display: none;
}

.menuViewDiv {
    position: absolute;
    text-align: left;
    left: 16px;
    top: 93px;
    color: white;
    z-index: 1000;
}

.listMenu {
    padding-left: 10px;
    position: absolute;
    top: 17px;
    left: 0px;
    margin-top: -17px;
    width: 160px;
    height: 600px;
    background-color: #055cc7f7;
    z-index: 1000;
    -webkit-animation: slideIn 0.7s forwards;
    animation: slideIn 0.7s forwards;
  }
  
  @-webkit-keyframes slideIn {
    0% {
      transform: translateX(-900px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @-moz-keyframes slideIn {
    0% {
      transform: translateX(-900px);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideIn {
    0% {
      transform: translateX(-900px);
    }
    100% {
      transform: translateX(0);
    }
  }