/* .Search-Input {
    margin-top: 40px;
    margin-bottom: 10px;
    width: 200px;
    height: 30px;
    font-size: 16px;
    background-color: rgb(#eaeaea);
    border: 1px solid;
    border-color: rgb(104, 102, 102); 
    padding-left: 8px;
    text-align: center;
} */

.Search-Button {
    height: 32px;
    width: 80px;
    background-color: #3d7cec;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    /* margin-bottom: 8px; */
    padding: 0;
}

.hide {
    display: none;
}

.divMonth {
    /* list-style: none; */
    border: 1px solid;
    border-color: lightgrey;
    text-align: center;
    width: 210px;
    height: 30px;
    background-color: rgb(#eaeaea);
    line-height: 3px;
    margin-top: 30px;    
}

.liStyle {
    border: 1px ridge;
    padding-left: 8px;
    height: 30px;
    line-height: 35px;
}

.divTable {
    text-align: -webkit-center;
}

.tebleStyle {
    border-collapse: collapse;
    font-size: 15px;
    width: 95%;
    margin-top: 16px;
    text-align: center;
}

.DataTable {
    border: 1px groove;
    text-align: center;
    font-size: 14px;
    
}

.swal-button {
    padding: 7px 19px;
    border-radius: 2px;
    background-color: #4962B3;
    font-size: 12px;
    border: 1px solid #3e549a;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.3);
  }

  .swal-title {
    margin: 0px;
    font-size: 16px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.21);
    margin-bottom: 28px;
  }

.DateInput_input__focused {
    z-index: 100000;
    background-color: rgba(6, 221, 250, 0.856) !important;
    color: black;
    font-weight: bold;
}